ul{
			background-color: grey;
			padding:30px;
		}
	
		li{
			display: inline;
			padding:30px;
		}
		li a{
			display:inline;
			text-decoration: none;
			color:white;
		}
		.dropdown{
			display:inline-block;
			color:white;
		}
		.dropdown-content{
			display:none;
			background-color: grey;
			padding:20px;
			color:white;
		}
		.dropdown-content a
		{
			float: none;
			  color: white;
			  padding: 10px;
			  text-decoration: none;
			  display: block;
			  text-align: left;
		}
		.dropdown:hover .dropdown-content{
			display:block;
		}
		